playing-card {
    --card-size: 30px;
    background: linear-gradient(#e66465, #9198e5);
    /* position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%); */
}

.banner {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}